/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    /* background-color: gray; */
    margin: 0%;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    background-color: white;
    margin: 0;
    position: fixed;
}

.nav--logo-img {
    height: 64px;
    margin-top: 10px;
}

.logo { 
    display: flex;
    align-items: center;
}

.nav--logo {
    height: 32px;
    font-size: 30px;
    color: gray;
}

.nav--logo span {
    color: black;
    font-weight: 600;
}

.links {
    display: flex;
    margin-right: 24px;
}

.nav--cta {
    margin: 0 16px 0 0;
    color: black;
}

/* START */
.start {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(150, 150, 150);
}

.start--banner {
    width: 60%;
    margin: 96px 24px 32px 24px;
}

.start--column2 {
    text-align: left;
}

.start--heading1 {
    color: rgba(0, 0, 0, 0.7);
    font-size: 45px;
}

.start--sub-heading {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.562);
}

.start--button {
    margin: 8px 0 8px 0;
    font-size: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.475);
    color: white;
}