/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: gray;
    margin: 0%;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

/* NAVBAR */
nav {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    height: 64px;
    width: 100%;
    background-color: white;
    margin: 0;
}

.nav--logo {
    margin-left: 24px;
    height: 32px;
    font-size: 30px;
    color: gray;
}

.nav--logo span {
    color: black;
    font-weight: 600;
}

.nav--logo-img {
    height: 64px;
    margin-right: -70%;
}

